1. What are data structures, and why are they important?
 - Data structures are specialized formats for organizing, processing, storing, and retrieving data, crucial for efficient and effective software development.
2. Difference between mutable and immutable data types with examples:
 - Mutable: Can be changed after creation. Example: list, dict.

     Immutable: Cannot be changed after creation. Example: tuple, str.
3. Lists vs Tuples in Python?
 - Lists are mutable, tuples are immutable.

  - Lists use more memory and are slower than tuples.

  - Tuples can be used as keys in dictionaries, lists cannot.
4. How dictionaries store data?
  - Dictionaries store data in key-value pairs using a hash table. Each key is hashed to find its corresponding value.
5. Why use a set instead of a list?
  - Sets do not allow duplicates and provide faster membership testing due to their hash-based structure.
6. What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters. Lists are mutable and can hold elements of different types.
7. How tuples ensure data integrity?
  - Tuples are immutable, so once created, their values cannot be changed, which ensures data integrity.
8. What is a hash table, and how does it relate to dictionaries?
  - A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables.
9. Can lists contain different data types?
  - Yes, Python lists can contain mixed data types (e.g., integers, strings, lists).
10. Why strings are immutable:
  - Strings are immutable to ensure memory efficiency and security, and to allow safe sharing between functions.
11. Advantages of dictionaries over lists:

  - Faster lookup with keys and

   - Better for representing structured data (e.g., a person with name, age, etc.)
12. Scenario where tuple is better than list?
  - When data should not be changed, such as storing days of the week or fixed configurations.

13. How sets handle duplicate values?
  - Sets automatically remove duplicate values.

14. “in” keyword in lists vs dictionaries:

  - In lists: Checks if a value exists.

   - In dictionaries: Checks if a key exists.

15. Can you modify tuple elements?
  - No, because tuples are immutable.

16. What is a nested dictionary + example?
  - A dictionary inside another dictionary.
Example:
student = {"name": "Alice", "grades": {"math": 90, "science": 85}}
17. Time complexity of accessing elements in a dictionary?
  - Average time complexity is O(1) due to hashing.

18. When lists are preferred over dictionaries?
  - When data order matters or when storing a sequence of similar elements without unique keys.

19. Why dictionaries are considered unordered:
  - Before Python 3.7, dictionaries did not maintain order. Even now, although order is preserved, they are logically still key-based.

20. List vs Dictionary in data retrieval:

  - List: Access by index (position-based).

   - Dictionary: Access by key (key-based, faster for lookups).

In [1]:
#1 Write a code to create a string with your name and print it:
name = "John Doe"
print(name)

John Doe

In [2]:
#2 Write a code to find the length of the string "Hello World":
string = "Hello World"
length = len(string)
print(length)

11

In [3]:
#3 Write a code to slice the first 3 characters from the string "Python Programming":
string = "Python Programming"
sliced = string[:3]
print(sliced)

Pyt

In [4]:
#4 Write a code to convert the string "hello" to uppercase:
string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

In [5]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple":
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# 6  Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

# 7 Write a code to append the number 10 to the list [1, 2, 3, 4]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

# 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

# 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']:
chars = ['a', 'b', 'c', 'd']
print(chars[1])

# 10 Write a code to reverse the list [10, 20, 30, 40, 50].
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 10]
[1, 2, 4, 5]
b
[50, 40, 30, 20, 10]

In [7]:
# 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

# 12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

# 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
print(min(tup))

# 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

# 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

(100, 200, 300)
blue
5
1
False

In [8]:
# 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

# 17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

# 18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

# 19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

# 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print(set1.intersection(set2))

{'b', 'c', 'a'}
set()
{1, 2, 3}
{1, 2, 3, 4, 5}
{3}

In [9]:
# 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

# 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

# 23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30
data = {'name': 'Alice', 'age': 30}
print(data['name'])

# 24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del data['age']
print(data)

# 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

{'name': 'John', 'age': 25, 'city': 'New York'}
{'name': 'John', 'age': 25, 'country': 'USA'}
Alice
{'name': 'Bob', 'city': 'New York'}
True

In [10]:
# 26 Write a code to create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

# 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

# 28 Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date"]
print(words[3])

# 29 Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

# 30  Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple"]
string_set = set(string_list)
print(string_set)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}
[8, 11, 62, 84, 91]
date
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'banana', 'apple'}